
.conteiner {
    max-width: 1440px;
}

.top-header {
    height: 24px;
    background: #fff;
    display: flex;
}

.top-title {
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 11px;
    margin: 0 auto;
}

.title-right-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    margin-left: 6px;
}

.top-title-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-bottom: 7px;
}

.header-wrapper {
    background: url(../img/bg_girl.png);
    height: 657px;
    margin-bottom: 32px;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-registr {
    display: flex;
    justify-content: space-around;
}

.header-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    height: 48px;
    width: 584px;
}
.circule {
    display: none;
}

::placeholder {
    color: #fff;
}

.search-form, .header-search-btn {
    border: none;
    outline: none;
    background: transparent;
}

.search-form {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

.header-search-btn {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.header-search-btn:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
}

.header-title {
    font-family: Poppins;
    font-size: 38px;
    margin-left: 24px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #fff;
}

.header-registr {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-right: 24px;
}

span {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
}

.registr {
    color: #fff;
    text-decoration: none;
    font-family: poppins;
    font-size: 11px;
    font-weight: 600;
}

/* .header_nav {
  width: 641px;
} */
.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header-list {
    font-family: poppins;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    margin-left: 32px;
}

.header-list:hover {
    cursor: pointer;
    color: cadetblue;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: poppins;
    font-weight: 700;
    font-size: 60px;
    margin-top: 140px;
}

.registration-title {
    text-align: center;
    /* width: 439px; */
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto 12px;
    letter-spacing: 1px;
}

.section-form {
    position: relative;
    /* width: 440px; */
    margin: 0 auto;
    height: 32px;
    text-align: center;
}

.registration-form {
    width: 32%;
    margin-right: 12px;
    height: 32px;

}

.registration-form::placeholder {
    font-family: poppins;
    font-weight: normal;
    font-size: 11px;
    color: #4A4A4A;
    padding-left: 11px;
   
}

.registration-btn {
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    color: #fff;
    height: 32px;
    width: 92px;
    font-family: poppins;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

footer {
    margin-top: 32px;
    background: #f7f7f7;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #f7f7f7;
}

.footer-title {

    width: 146px;
    list-style: none;
}

.footer-title-text {
    font-family: CormorantGaramond;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 17px;
}

.title-text {
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
}

.social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer-text {
    margin: 38px auto 0;
    font-family: poppins;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
}


@media screen and (max-width: 360px) {
    .dl-menuwrapper {
        display: block;
    }

    .footer-wrapper,
    .nav-wrapper {
        display: none;
    }

    #accordion {
        display: block;
    }

    .footer-social.mobile {
        display: block;
    }
    .top-header {
        display: none;
    }
    .header-wrapper {
        width: 100%;
        background: url(../img/bg_mobile.png);
        /* background: red; */
        background-size: cover;
        background-position: center;
        display: flex;
    }
    #searchIcon::before, #closeIcon::before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 30px;
        color: #fff;       
    }
   .header-title {
       position: absolute;
       top: 10px;
       font-size: 30px;
       margin: 0;
       right: 34%;
   }
   .header-form, h1 {
       display: none;
   }
   .header-registr {
       position: absolute;
       right: -61px;
       top: 28px;
       width: 31%;
       margin: 0;
   }
   .registr, span {
       display: none;
   }
    
   .dl-menuwrapper li a{
       color: #000;
       background: #fff;
   }
    .dl-menuwrapper button  {
        background: transparent;
        width: 40px;
        height: 40px;  
        margin: 8px 0 0 4px;      
    }
    /* .dl-menuwrapper button:hover,  .dl-menuwrapper button.dl-active*/
    .dl-menuwrapper ul {
        background: #fff;
    }
    .search-form {
       margin-top: 13px;
       position: absolute;
       left: 38px;
    }
    .circule {
        display: block;
        position: absolute;
        right: 76px;
        top: 5px;
        border-radius: 50%;
        background: #F2DA91;
        ;
    }
    .basket-img {
        position: absolute;
        right: 100px;
    }
}

@media screen and (min-width: 760px) {
    .dl-menuwrapper {
        display: none;
    }

    .footer-wrapper {
        display: flex;
    }

    .nav-wrapper {
        display: block;
    }

    #accordion {
        display: none;
    }

    .footer-social.mobile {
        display: none;
    }
}

